@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-bold.ttf");
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: "Open Sans Regular", sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #212121;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.menu-bar {
  padding: 45px 0;
}

.menu-bar .logo {
  width: 140px;
}

.menu__item a {
  font-size: 20px;
  font-family: "Open Sans Semibold", sans-serif;
  transition: .3s;
}

.menu__item a:hover {
  text-decoration: none;
  color: #b70000;
}

.menu__item i {
  transition: .3s;
}

.menu__item i:hover {
  color: #b70000;
  cursor: pointer;
}

.menu__item + .menu__item {
  margin-left: 40px;
}

.header {
  background-image: url(../img/header.png);
  min-height: 650px;
  padding: 170px 0;
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header .row {
  display: block;
}

.header__title {
  font-size: 60px;
  margin-bottom: 23px;
  font-family: "Open Sans Semibold", sans-serif;
}

.header__text {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 100px;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 25px;
  margin: 0 10px;
  transition: .4s;
}

.button_empty {
  background: transparent;
  border: 2px solid white;
}

.button_empty:hover {
  background-color: #0f6674;
}

.button_full {
  background-color: #00897b;
  border: 2px solid #00897b;
}

.button_full:hover {
  background-color: #0f6674;
}
